<div class="row marginup">
  <div class="col s12 m8 19">
    <h6>Top Questions</h6>
    <div class="divider"></div>

    <% @questions.each do |question| %>
      <div class="card">
        <div class="card-content black-text">
          <%= link_to question.title.truncate(140, separator: ' '), question_path(question), class: "card-title black-text" %>
          <p><%= question.body.truncate(240, separator: ' ') %></p>
          <%= link_to "Upvote | #{question.popularity}", up_vote_question_path(question), method: :post, remote: true, class: "waves-effect btn red lighten-5" %>
        </div>
      </div>
    <% end %>
  </div>
</div>