<li class="media comment">
  <div class="media-body">
    <h5 class="media-heading">From Anonymous</h5>

    <p><%= comment.body %></p>
      <small class="text-muted">[at <%= comment.timestamp %>]</small>
  </div>
</li>
<li class="media comment" data-id="<%= comment.id %>">