<li class="media comment">
  <div class="media-body">
    <p class="media-heading"><%= link_to comment.user.name, target: '_blank' %> says
      <small class="text-muted">[at <%= comment.timestamp %>]</small></p>
    <p><%= comment.body %></p>
  </div>
</li>
<li class="media comment" data-id="<%= comment.id %>">