<h5>Users</h5>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Roles</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, edit_roles_path(user), remote: true %></td>
      <td><%= user.email %></td>
      <td>
        <% u_roles = user.roles.order(:name) %>
        <% usersroles = [] %>
        <% u_roles.each do |rol| %>
          <% usersroles.push(rol.name.capitalize) %>
        <% end %>
        <%= usersroles.join(', ') %>
      <td>
    </tr>
  <% end %>
</table>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel"></div>