<div class="col s8 mgn">
  <div class="col s12">
    <div class="logo"></div>
  </div>
  <div class="col s12 login">
    <h4>Sign in to Canon</h4>
    <h4>And</h4>
    <h4>Get answers to your questions</h4>

    <%= link_to image_tag("sign-in-with-google.png", class: "responsive-img login-logo"), "/auth/google_oauth2", id: "sign_in" %>
  </div>
</div>

