


 <div class="logIn">
    <div class="logo"></div>
      <h1>Sign in to Canon</h1>
      <h1>And</h1>
      <h2>Get answers to your questions</h2>
      <%= link_to image_tag("sign-in-with-google.png"), "/auth/google_oauth2", style: "max-width: 200px; margin-left: 215px" %>
      <!-- <a href="#"><img class="img" src="sign-in-with-google.png" style="max-width: 200px; margin-left: 215px"></a> -->
  </div>

