<div class="row marginup">
  <div class="col s12 m4 13">
    <h6>Questions</h6>

    <div class="divider"></div>
    <table>

      <tbody><tr>
        <td>Alvin</td>
      </tr>
      <tr>
        <td>Alvin</td>
      </tr>
      <tr>
        <td>Alvin</td>
      </tr>
      <tr>
        <td>Alvin</td>
      </tr>
      <tr>
        <td>Alvin</td>
      </tr>
      </tbody></table>
  </div>

  <div class="col s12 m8 19">
    <h6>Top 3 Questions</h6>

    <div class="divider"></div>

    <div class="card">
      <div class="card-content black-text">
        <a href="#"><span class="card-title black-text">Card Title</span></a>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        <button id="upv-btn">Upvote | 4</button>
      </div>
    </div>

    <div class="card">
      <div class="card-content black-text">
        <a href="#"><span class="card-title black-text">Card Title</span></a>
        <div id="profile-description">
          <div class="text show-more-height">
            <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.I am a very simple card. I am good at                containing small bits of information.
              I am convenient because I require little markup to use effectively.At Microsoft we help people and businesses throughout the world realize their full potential. <br />
              We make this simple mission come to life every day through our passion to create technologies <br><br>and develop products that touch just about every kind of customer.</p>
          </div>
          <div class="show-more">(Show More)</div>
        </div>
        <button id="upv-btn">Upvote | 4</button>
      </div>
    </div>
  </div>
</div>