<div class="row marginup">
  <div class="col s12 m4 13">
    <h6>Questions</h6>

    <div class="divider"></div>
  </div>

  <div class="col s12 m8 19">
    <h6>Top Questions</h6>

    <div class="divider"></div>
  </div>
</div>