// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
@import 'bootstrap/theme';
@import "materialize";

.container {
  width: 90%;
}
.marginup {
  margin-top: 20px;
}
#profile-description {
  width: 690px; margin-top: 50px; position:relative;
}
#profile-description .text {
  width: 660px; margin-bottom: 5px; color: #777; padding: 0 15px; position:relative; font-family: Arial; font-size: 14px; display: block;
}
#profile-description .show-more {
  width: 690px; color: #777; position:relative; font-size: 12px; padding-top: 5px; height: 20px; text-align: center; background: #f1f1f1; cursor: pointer;
}
#profile-description .show-more:hover {
  color: #1779dd;
}
#profile-description .show-more-height { height: 62px; overflow:hidden; }

.card p {
  text-align: justify;
  line-height: 200%;
}

.card .card-title {
  font-weight: 500;
}

.login {
  text-align: center;
}

.card a:hover {
  text-decoration: underline;
}

.mgn {
  margin-top: 18%;
}

.login-logo{
  width: 220px;
}

.flash {
  position: absolute;
  left: 30%;
  top: 40px;
  -moz-opacity: 0.8;          /* Netscape */
  -khtml-opacity: 0.8;        /* Safari 1.x */
  opacity: 0.8;
  z-index: 9999;
  text-align: center;
  border-radius: 15px;

  width: 400px;
  height: 50px;
  padding: 10px;
  font-size: 120%;
}
#canon {
  margin-left: 10px;
}
