<nav>
  <div class="nav-wrapper">
    <%= link_to 'Canon', root_path, class: 'brand-logo' %>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <form>
          <div class="input-field">
            <input id="search" type="text" required>
            <label for="search"><i class="mdi-action-search"></i></label>
          </div>
        </form>
      </li>
      <% if current_user %>
        <li><%= link_to "Ask a question", new_question_path %></li>
        <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
      <% else %>
        <li><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
      <% end %>
    </ul>
  </div>
</nav>